{% import 'link.j2' as lm -%}
{% import 'challenge.j2' as cm -%}

{% extends 'layout.html' %}
{% block content %}

<div class="bg-gray-100">
    <div class="px-8 py-12 max-w-5xl mx-auto text-gray-600">
        <div class="pt-4 space-y-4">
            <h2 class="mt-6 text-4xl font-bold text-gray-900">
                {{ headers.title }}
            </h2>
        </div>
        <div class="pt-8">
            <h3 class="text-2xl font-bold text-gray-900">
                {{ headers.congratulations_message }}
            </h3>
        </div>
        <div class="border border-blue-900 rounded-md bg-blue-50 my-4 shadow">
            <div class="grid grid-cols-3 bg-blue-200 rounded-t-md h-12 collapsible cursor-pointer">
                <div class="flex justify-start col-span-2 items-center">
                    <h3 class="text-base font-bold text-gray-900 ml-4">
                        The fix: <span class="text-blue-700">how to write secure code</span>
                    </h3>
                </div>

            </div>
            <div class="collapsible-content mx-4">
                {{ cm.code_patch(gh_links.patch_source_code, gh_links.patch_gist) }}
            </div>
        </div>
        <div class="pt-4 space-y-4">
            {{ cm.header(headers.explanation) }}
            {% block explanation %}{% endblock %}
        </div>
        <div class="grid grid-cols-2 pt-48">
            {% if challenge_links.prev == "" %}
            {{ cm.challenge_button("justify-start", "hidden", challenge_links.prev, "Previous Challenge") }}
            {% else %}
            {{ cm.challenge_button("justify-start", "", challenge_links.prev, "Previous Challenge") }}
            {% endif %}
            {% if challenge_links.next == "" %}
            {{ cm.challenge_button("justify-end", "hidden", challenge_links.next, "Next Challenge") }}
            {% else %}
            {{ cm.challenge_button("justify-end", "", challenge_links.next, "Next Challenge") }}
            {% endif %}
        </div>
    </div>
</div>
{% include 'collapsible.html' %}
{% endblock %}
