{% import 'link.j2' as lm -%}

{% macro header(title) -%}
<h2 class="mt-6 text-2xl font-bold text-gray-900">
    {{ title }}
</h2>
{%- endmacro %}

{% macro code(source_code, gist) -%}
<p class="mt-4 text-xs">File truncated for brevity. {{ lm.link_new_tab(source_code, "Click here") }} to view full file.
</p>
<script src="{{ gist }}"></script>
{%- endmacro %}

{% macro code_patch(source_code, gist) -%}
<p class="mt-4 text-xs">{{ lm.link_new_tab(source_code, "Click here") }} to view the entire file, and not just the diff.
</p>
<script src="{{ gist }}"></script>
{%- endmacro %}

{% macro challenge_button(position, hidden, link, label) -%}
<div class="flex {{ position }}">
    <a class="{{ hidden }} inline-block px-5 py-3 rounded bg-gray-500 hover:bg-gray-400 uppercase font-bold text-sm text-white shadow-lg sm:text-base"
        href="{{ link }}">{{ label }}
    </a>
</div>
{%- endmacro %}

{% macro plus_and_minus_header_style() -%}
<div class="flex justify-end items-center">
    <span class="plus text-gray-900 mr-4">+</span>
    <span class="minus hidden text-gray-900 mr-4">-</span>
</div>
{%- endmacro %}


{% macro passphrase_form(route) -%}
<div class="pt-8 mb-6">
    <a id="passphrase_form"></a>
    <form method="POST" action="{{ route }}">
        <label class="block text-gray-700 text-sm font-bold mb-4" for="passphrase">
            Solve challenge by entering the passphrase:
        </label>
        {% with message = get_flashed_messages(category_filter=["passphrase"]) %}
        {% if message %}
        <p class="text-red-400 text-sm">{{ message[0] }}</p>
        {% endif %}
        {% endwith %}
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline max-w-md"
            name="passphrase" id="passphrase" type="password" placeholder="******************">
        <button
            class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-4"
            type="submit">Submit
        </button>
    </form>
</div>
{%- endmacro %}
