{% macro header(title) -%}
<h1 class="mt-6 text-2xl font-bold text-gray-900">
    {{ title }}
</h1>
{%- endmacro %}

{% macro code(source_code, gist) -%}
<p class="mt-4 text-xs">File truncated for brevity. <a href={{ source_code }}
        class="text-blue-400 hover:underline">Click here</a> to view full file.
</p>
<script src={{ gist }}></script>
{%- endmacro %}

{% extends 'layout.html' %}
{% block content %}

<div class="bg-gray-100">
    <div class="px-8 py-12 max-w-5xl mx-auto text-gray-600">
        <div class="pt-4 space-y-4">
            {{ header(headers.introduction) }}
            {% block introduction %}{% endblock %}
        </div>
        <div class="pt-4 space-y-4">
            {{ header(headers.news) }}
            {% block news %}{% endblock %}
        </div>
        <div class="pt-4 space-y-4">
            {{ header(headers.challenge) }}
            {% block challenge %}{% endblock %}
        </div>
        <div class="pt-4 space-y-4">
            {{ header(headers.code) }}
            <p>View the <a href="https://github.com/neumaneuma/appseccheat.codes/blob/main/README.md"
                    class="text-blue-400 hover:underline">main README</a> to run the webapp locally</p>
            <p>View the <a href="https://github.com/neumaneuma/appseccheat.codes/blob/main/exploits/README.md"
                    class="text-blue-400 hover:underline">exploit README</a> to run the exploits locally</p>
        </div>
        <div class="pt-4">
            {{ header(headers.vulnerability) }}
            {{ code(links.vulnerability_source_code, links.vulnerability_gist) }}
        </div>
        <div class="pt-4">
            {{ header(headers.exploit) }}
            {{ code(links.exploit_source_code, links.exploit_gist) }}
        </div>
        <div class="pt-4">
            {{ header(headers.patch) }}
            {{ code(links.patch_source_code, links.patch_gist) }}
        </div>
        <div class="pt-4 space-y-4">
            {{ header(headers.explanation) }}
            {% block explanation %}{% endblock %}
        </div>
        <div class="grid grid-cols-2 pt-48">
            <div class="flex justify-start">
                <a class="inline-block px-5 py-3 rounded bg-gray-500 hover:bg-gray-400 uppercase font-bold text-sm text-white shadow-lg sm:text-base"
                    href="#">Previous Challenge
                </a>
            </div>
            <div class="flex justify-end">
                <a class="inline-block px-5 py-3 rounded bg-gray-500 hover:bg-gray-400 uppercase font-bold text-sm text-white shadow-lg sm:text-base"
                    href="#">Next Challenge
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}