{% macro header(title) -%}
<h2 class="mt-6 text-2xl font-bold text-gray-900">
    {{ title }}
</h2>
{%- endmacro %}

{% macro code(source_code, gist) -%}
<p class="mt-4 text-xs">File truncated for brevity. <a href="{{ source_code }}"
        class="text-blue-400 hover:underline">Click here</a> to view full file.
</p>
<script src="{{ gist }}"></script>
{%- endmacro %}

{% macro challenge_button(position, hidden, link, label) -%}
<div class="flex {{ position }}">
    <a class="{{ hidden }} inline-block px-5 py-3 rounded bg-gray-500 hover:bg-gray-400 uppercase font-bold text-sm text-white shadow-lg sm:text-base"
        href="{{ link }}">{{ label }}
    </a>
</div>
{%- endmacro %}

{% extends 'layout.html' %}
{% block content %}

<div class="bg-gray-100">
    <div class="px-8 py-12 max-w-5xl mx-auto text-gray-600">
        <div class="pt-4 space-y-4">
            <h2 class="mt-6 text-4xl font-bold text-gray-900">
                {{ headers.title }}
            </h2>
            {% block title %}{% endblock %}
        </div>
        <div class="pt-4 space-y-4">
            {{ header(headers.introduction) }}
            {% block introduction %}{% endblock %}
        </div>
        <div class="pt-4 space-y-4">
            {{ header(headers.news) }}
            {% block news %}{% endblock %}
        </div>
        <div class="pt-4">
            {{ header(headers.challenge) }}
            <div class="border border-yellow-900 rounded-md bg-yellow-100 p-2 space-y-2 my-4">
                <h3 class="text-base font-bold text-gray-900">Hint:</h3>
                <p>If you are unsure on how to proceed, then the following may help:</p>
                <p>You can enter the input necessary to exploit this challenge manually through your browser, or you
                    can use an automated tool such as <a class="text-blue-400 hover:underline"
                        href="https://portswigger.net/burp">Burp Suite</a> or <a class="text-blue-400 hover:underline"
                        href="https://www.zaproxy.org">OWASP ZAP</a>. However,
                    since this CTF is focused specifically on the code side of application security, neither of
                    those solutions will be presented here.</p>
                <p>The exploit code and instructions on how to run it is presented further down on the page.
                    However, you are encouraged to attempt to write the exploit code yourself before looking at the
                    answer. In order to do this, you need to understand what fields are being set in the HTTP request
                    being sent
                    to the server from the browser. This is so that you can craft your own HTTP request from the script
                    you write. You can use your <a class="text-blue-400 hover:underline"
                        href="https://www.twilio.com/blog/2017/09/everything-you-ever-wanted-to-know-about-secure.html-forms.html">browser's
                        developer tools</a> to figure out this information or you can use a tool that can decrypt
                    encrypted traffic on
                    your computer. Burp Suite and OWASP ZAP both offer this feature in addition to their automated
                    pentesting. I personally used <a class="text-blue-400 hover:underline"
                        href="https://mitmproxy.org">mitmproxy</a> when writing the exploit scripts for this site
                    because it has a lot fewer features than those other tools, and therefore is a lot simpler to
                    use. There is no right answer though. Any of those options will suffice.</p>
            </div>
            {% block challenge %}{% endblock %}
        </div>
        <div class="pt-4 space-y-4">
            {{ header(headers.code) }}
            <p>View the <a href="https://github.com/neumaneuma/appseccheat.codes/blob/main/README.md"
                    class="text-blue-400 hover:underline">main README</a> to run the webapp locally</p>
            <p>View the <a href="https://github.com/neumaneuma/appseccheat.codes/blob/main/exploits/README.md"
                    class="text-blue-400 hover:underline">exploit README</a> to run the exploits locally</p>
        </div>
        <div class="pt-4">
            {{ header(headers.vulnerability) }}
            {{ code(gh_links.vulnerability_source_code, gh_links.vulnerability_gist) }}
        </div>
        <div class="pt-4">
            {{ header(headers.exploit) }}
            {{ code(gh_links.exploit_source_code, gh_links.exploit_gist) }}
        </div>
        <div class="pt-4">
            {{ header(headers.patch) }}
            {{ code(gh_links.patch_source_code, gh_links.patch_gist) }}
        </div>
        <div class="pt-4 space-y-4">
            {{ header(headers.explanation) }}
            {% block explanation %}{% endblock %}
        </div>
        <div class="grid grid-cols-2 pt-48">
            {% if challenge_links.prev == "" %}
            {{ challenge_button("justify-start", "hidden", challenge_links.prev, "Previous Challenge") }}
            {% else %}
            {{ challenge_button("justify-start", "", challenge_links.prev, "Previous Challenge") }}
            {% endif %}
            {% if challenge_links.next == "" %}
            {{ challenge_button("justify-end", "hidden", challenge_links.next, "Next Challenge") }}
            {% else %}
            {{ challenge_button("justify-end", "", challenge_links.next, "Next Challenge") }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
