<script>
    var collapsible = document.getElementsByClassName("collapsible");

    for (var i = 0; i < collapsible.length; i++) {
        collapsible[i].addEventListener("click", event => {
            var plus = event.currentTarget.getElementsByClassName("plus")[0];
            var minus = event.currentTarget.getElementsByClassName("minus")[0];
            var content = event.currentTarget.nextElementSibling;

            plus.classList.toggle("hidden")
            minus.classList.toggle("hidden")
            content.classList.toggle("pb-4");

            var currentElement = event.currentTarget.classList;
            if (currentElement.contains("rounded-md")) {
                currentElement.remove("rounded-md");
                currentElement.add("rounded-t-md");
            } else {
                currentElement.add("rounded-md");
                currentElement.remove("rounded-t-md");
            }

            // Toggle setting max height between nothing and the height of the sibling element in pixels
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = `${content.scrollHeight}px`;
            }
        });
    }
</script>
