{% import 'link.j2' as lm -%} {% extends 'layout.html' %} {% block content %}

<div class="px-8 pb-16 max-w-5xl mx-auto text-gray-600">
  <div class="pt-32 text-center font-bold text-5xl">FAQs</div>
  <div class="pt-4 space-y-4">
    <h2 class="mt-6 text-2xl font-bold text-gray-900">Who made this?</h2>
    <p>
      Hi! My name is Bradley. I created AppSec Cheat Codes while attending a 12 week batch at {{
      lm.link_new_tab("https://www.recurse.com", "Recurse Center") }} in the middle of 2021. If you are a programmer,
      even with only a few months of experience, I would highly recommend applying to Recurse Center. It is a great
      place to get better at developing software and to meet a fantastic community of people.
    </p>
  </div>
  <div class="pt-4 space-y-4">
    <h2 class="mt-6 text-2xl font-bold text-gray-900">Why is this for programmers/software developers?</h2>
    <p>
      The premise of this web app is for people to learn application security through code. A programmer's primary skill
      set is first and foremost code. I find that there is not much out there for software developers to learn how to
      code securely in a hands-on manner. This web app hopefully helps to fill the void a little bit more.
    </p>
  </div>
  <div class="pt-4 space-y-4">
    <h2 class="mt-6 text-2xl font-bold text-gray-900">What is next?</h2>
    <p>
      I have a lot more planned for what I want to add, though I won't be able to work on this full time anymore. Here
      is what I have in mind (not in any particular order):
    </p>
    <ul class="list-disc pl-8">
      <li>
        Port the frontend over from Jinja2 to Elm. I am not a fan of Javascript, so I decided to try using a server-side
        template for the frontend. It turns out that I am not much of a fan of server-side templates either. I tried Elm
        a few years ago, and I liked it, however, my functional programming skills are quite rusty.
      </li>
      <li>Add challenges for CORS, XSS, CSRF, and directory traversal vulnerabilities.</li>
      <li>Add implementations of all challenges in golang.</li>
      <li>
        Change the bland purple color for all the cards on the homepage so that it is something with a better UI. I
        didn't know what to put for it since I have 0 knowledge of graphics, so the purple was just a placeholder.
      </li>
    </ul>
  </div>
</div>

{% endblock %}
