{% import 'challenge.j2' as cm -%}

<div class="border border-gray-900 rounded-md bg-white my-4 shadow">
    <div class="grid grid-cols-3 bg-gray-200 rounded-md hover:bg-gray-300 h-12 collapsible cursor-pointer">
        <div class="flex justify-start col-span-2 items-center">
            <h3 class="text-base font-bold text-gray-900 ml-4">
                How should I approach this?
            </h3>
        </div>
        {{ cm.plus_and_minus_header_style() }}
    </div>
    <div class="collapsible-content px-4 space-y-4">
        <p class="mt-4">This is a {{ lm.link_new_tab("https://dev.to/atan/what-is-ctf-and-how-to-get-started-3f04",
            "capture the flag (CTF)") }} webapp designed to teach software developers the fundamentals of {{
            lm.link_new_tab("https://en.wikipedia.org/wiki/Application_security", "application security (AppSec)") }}.
            Software developers learn best when reading and writing code. Most CTFs are catered towards {{
            lm.link_new_tab("https://en.wikipedia.org/wiki/Penetration_test", "pentesters") }} who predominantly use a
            variety of tools for CTFs and in their day jobs. While certainly a more efficient approach, this does not,
            however, translate well for a software developer trying to learn AppSec.</p>
        <p>How is a software developer supposed to learn how to write secure code if all they learn how to do from a CTF
            is click a few buttons and enter some input into a text field? That is why the purpose of this CTF is to
            reframe the concept of AppSec in terms of code.</p>
        <p>There are 3 hints for every challenge. One hint will show you <span class="italic">the exact code of the
                server-side vulnerability that you are trying to exploit</span>. It is one thing to read a description
            of a vulnerability, and a whole another thing to actually see a working example of the code. Another hint
            will show you <span class="italic">the exact code of the exploit and how to run it</span>. Technically this
            is less of a hint and more just the answer to how to solve the challenge, but let's not get too hung up on
            semantics.</p>
        <p>The next logical step is to provide the diff between what the vulnerable code looks like and what the secure
            code looks like. This is accessible to anyone who solves the challenge, which considering the exploit is
            provided if you cannot figure out how to write it on your own, is literally anyone.</p>
        <p>And finally, as if this wall of text wasn't long enough, there is even more to it. If you want to run the
            webapp locally just follow the instructions on this {{
            lm.link_new_tab("https://github.com/neumaneuma/appseccheat.codes/blob/main/README.md", "README") }}. Make
            any modifications you want. Add code, remove code, break things, figure out how to fix them. This is what I
            believe to be the most effective way for a developer to learn a concept: through code.</p>
    </div>
</div>
