{% extends 'layout.html' %}
{% block content %}
<div class="bg-gray-100 pt-32 text-center font-bold text-xl">
  <p>
    Learn how to avoid writing
    <span class="bg-red-200 text-red-700 p-1 font-mono">vulnerable code</span>
  </p>
  <p>
    Learn how to write
    <span class="bg-green-200 text-green-700 p-1 font-mono">exploit code</span>
  </p>
  <p>
    Learn how to write
    <span class="bg-blue-200 text-blue-700 p-1 font-mono">secure code</span>
  </p>
</div>
<div
  class="bg-gray-100 mx-auto px-40 py-20 grid grid-cols-3 gap-20 justify-items-center lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
  {% include 'sqli1_card.html' %}
  {% include 'sqli2_card.html' %}
</div>
{% endblock %}
