<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}" />
</head>

<body>
    {% include 'navigation.html' %}
    <div class="bg-gray-100 pt-32 text-center font-bold text-xl">
        <p>Learn how to avoid writing <span class="bg-red-200 text-red-700 p-1 font-mono">vulnerable code</span></p>
        <p>Learn how to write <span class="bg-green-200 text-green-700 p-1 font-mono">exploit code</span></p>
        <p>Learn how to write <span class="bg-blue-200 text-blue-700 p-1 font-mono">secure code</span></p>
    </div>
    {% block content %}{% endblock %}
</body>

</html>
