<nav class="bg-gray-700 text-gray-100 fixed w-full">
    <div class="container mx-auto px-6 py-2 flex justify-between items-center">
        <a href="/" class="font-bold text-2xl">AppSec Cheat Codes <span
                class="text-sm border-2 ml-2 uppercase rounded">beta</span></a>
        <div class="block">
            <ul class="inline-flex">
                <li><a class="px-4 hover:text-blue-400" href="{{ url_for('routes.faq') }}">FAQ</a></li>
                <li><a class="px-4 hover:text-blue-400"
                        href="https://github.com/neumaneuma/appseccheat.codes">GitHub</a></li>
            </ul>
        </div>
    </div>
</nav>
