<div class="w-72 rounded-xl overflow-hidden shadow-xl transform transition hover:-translate-y-0.5">
    <div class="bg-indigo-700 h-60"></div>
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">SQLi second order</div>
        <p class="text-gray-700 text-base">
            It's time to change <span class="line-through">your</span> someone else's password.
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <a href="{{ url_for('routes.sqli2') }}"
            class="uppercase inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Start
            challenge #2</a>
    </div>
</div>