{% extends 'challenge.html' %}

{% block introduction %}
{% include 'sqli_introduction.html' %}
{% endblock %}

{% block news %}
{% include 'sqli_news.html' %}
{% endblock %}

{% block challenge %}
<p>You know there is a user with the username <span class="bg-gray-200 p-1 font-mono w-max">administrator</span>. Try to
    figure out how to login as
    <span class="bg-gray-200 p-1 font-mono w-max">administrator</span> without knowing what their
    password is!
</p>

<div class="w-full max-w-xs">
    <form method="POST" action="{{ url_for('vulnerabilities_sqli1.login') }}"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username" type="text" placeholder="Username">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="password" type="password" placeholder="******************">
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Sign In
            </button>
        </div>
    </form>
</div>
{% endblock %}


{% block explanation %}
<p>
    This defense makes use of what is known as a <a
        href="https://cheatsheetseries.owasp.org/cheatsheets/Query_Parameterization_Cheat_Sheet.html#parameterized-query-examples"
        class="text-blue-400 hover:underline">parameterized query</a>. A succinct way of explaining it
    is that a parameterized query interprets user input as data instead of code.</p>
<p>Another technique that can supplement a parameterized query is to implement an allow-list. An
    allow-list specifies what characters are allowed as input, and rejects everything else. However, for
    most situations involving SQL injection, it is impractical to implement an allow-list because all
    characters are valid. For example, restricting what characters a user can enter for a password is
    considered a poor user experience. Therefore a parameterized query is the primary line of defense.
</p>
{% endblock %}
