{% extends 'challenge.html' %}

{% block title %}
<p>Should you trust your database? Not always as it turns out.</p>
{% endblock %}

{% block introduction %}
{% include 'sqli_introduction.html' %}
{% endblock %}

{% block news %}
{% include 'sqli_news.html' %}
{% endblock %}

{% block challenge %}
<p class="my-8">You are provided with another user's username. This is all you need to know in order to change their
    password for
    them!</p>

<div class="w-full max-w-xs">
    <form method="GET" action="{{ url_for('vulnerabilities_sqli2.get_username_to_exploit') }}"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-4">
                Username:
            </label>
            <button
                class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Get username
            </button>
        </div>
    </form>
</div>
<p class="my-8">Create an account so that you can access the change password flow.</p>
<div class="w-full max-w-xs">
    <form method="POST" action="{{ url_for('vulnerabilities_sqli2.register') }}"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="username" id="username" type="text" placeholder="Username">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                name="password" id="password" type="password" placeholder="******************">
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Create user
            </button>
        </div>
    </form>
</div>
<p class="my-8">Now that you are logged in as the user you just created, try changing the original user's password!
</p>
<div class="w-full max-w-xs">
    <form method="POST" action="{{ url_for('vulnerabilities_sqli2.change_password') }}"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="old_password">
                Old password
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="old_password" id="old_password" type="password" placeholder="******************">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="new_password1">
                New password
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                name="new_password1" id="new_password1" type="password" placeholder="******************">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="new_password2">
                Re-type password
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                name="new_password2" id="new_password2" type="password" placeholder="******************">
        </div>
        <div class="flex items-center justify-between">
            <button
                class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Change password
            </button>
        </div>
    </form>
</div>
{% endblock %}


{% block explanation %}
<p>
    This defense makes use of what is known as a <a
        href="https://cheatsheetseries.owasp.org/cheatsheets/Query_Parameterization_Cheat_Sheet.html#parameterized-query-examples"
        class="text-blue-400 hover:underline">parameterized query</a>. A succinct way of explaining it
    is that a parameterized query interprets user input as data instead of code. A key difference between this challenge
    and the previous one is that it is predicated on the fact that developers often assume that anything in the database
    is safe because it is <span class="italic">their</span> database. However, if the database was populated using user
    input, then reading from the database is just as unsafe as handling user input through HTML form data.</p>
<p>Another technique that can supplement a parameterized query is to implement an allow-list. An
    allow-list specifies what characters are allowed as input, and rejects everything else. However, for
    most situations involving SQL injection, it is impractical to implement an allow-list because all
    characters are valid. For example, restricting what characters a user can enter for a password is
    considered a poor user experience. Therefore a parameterized query is the primary line of defense.
</p>
{% endblock %}