{% import 'link.j2' as lm -%}
{% extends 'challenge.html' %}

{% block title %}
<p>Never assume user input is safe. HTML form data can contain all sorts of things that you as a developer
    don't expect!</p>
{% endblock %}

{% block introduction %}
{% include 'sqli/sqli_introduction.html' %}
{% endblock %}

{% block news %}
{% include 'sqli/sqli_news.html' %}
{% endblock %}

{% block challenge %}

<div class="divide-y divide-gray-500 pt-6">
    <div class="w-full max-w-xs mb-10">
        <form method="POST" action="{{ url_for('vulnerabilities_sqli1.login') }}"
            class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="username" id="username" type="text" placeholder="Username">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    name="password" id="password" type="password" placeholder="******************">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Sign In
                </button>
            </div>
        </form>
    </div>
    {{ cm.passphrase_form(url_for('routes.sqli1')) }}
</div>
{% endblock %}
