{% import 'link.j2' as lm -%}

<p>
    SQL injection is when an attacker can trick the server into
    running attacker-supplied SQL code against its database. For
    example, suppose you are an {{ lm.link_new_tab("https://xkcd.com/327/", "elite hacker mom") }}
    . You name your son
    <span class="bg-gray-200 p-1 font-mono">Robert'); DROP TABLE Students;--
    </span>
    and send him off to school.
</p>
<p>
    If your son's school has a server that is vulnerable to SQL
    injection, then when they go to add your son as a student in
    the school's database this is the SQL query that is run:
</p>
<p class="bg-gray-200 p-1 font-mono w-max">
    <span class="text-black">INSERT INTO Students VALUES '</span>
    <span class="text-red-500">Robert</span>
    <span class="text-black">'); DROP TABLE Students;</span>
    <span class="text-green-500">-- ');</span>
</p>
<p class="text-black">Black text is SQL code</p>
<p class="text-red-500">Red text is data from the user</p>
<p class="text-green-500">Green text is a comment</p>
<p>
    The intended result is for an insert statement to be
    executed. However, because the school is vulnerable to SQL
    injection, what actually happens is that the insert
    statement is executed, and then a drop statement is
    subsequently executed.
</p>
<p>
    In plain english: a student named Robert gets added to the
    list of students at the school, and then that list of
    students is subsequently deleted. This is how the student
    records are lost for the year. What would the SQL query look
    like if the school wasn't vulnerable to SQL injection?
</p>
<p class="bg-gray-200 p-1 font-mono w-max">
    <span class="text-black">INSERT INTO Students VALUES '</span>
    <span class="text-red-500">Robert'); DROP TABLE Students;--
    </span>
    <span class="text-black">');</span>
</p>
