{% import 'link.j2' as lm -%}
{% extends 'challenge.html' %}

{% block title %}
<p>Local files can be subject to the same mistaken assumptions that internal APIs have: developers think they can never be accessed from the Internet.</p>
{% endblock %}

{% block introduction %}
{% include 'ssrf/ssrf_introduction.html' %}
{% endblock %}

{% block news %}
{% include 'ssrf/ssrf_news.html' %}
{% endblock %}

{% block challenge %}
<p class="my-8">Catcoin is the hot new crypto currency that everyone is talking about. The following form is for a financial web app that will allow you to pick the API that is used to query the current price of catcoin. You can choose either <span class="bg-gray-200 p-1 font-mono">http://internal_api:12301/get_cat_coin_price_v1/</span> or <span class="bg-gray-200 p-1 font-mono">http://internal_api:12301/get_cat_coin_price_v2/</span> by entering it into the input textfield. Unbeknownst to the developers, you can actually enter any URL or IP address that you want. Solve this challenge by stealing the <span class="bg-gray-200 p-1 font-mono">/etc/shadow</span> or <span class="bg-gray-200 p-1 font-mono">/etc/passwd</span> files.</p>

<div class="w-full max-w-xs">
    <form method="POST" action="{{ url_for('vulnerabilities_ssrf2.submit_api_url') }}"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="custom_url">
                Enter the URL of the API to use:
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="custom_url" id="custom_url" type="text">
        </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Fetch
                </button>
            </div>
    </form>
</div>
<div class="divide-y divide-gray-500">
    {{ cm.passphrase_form(url_for('routes.ssrf2')) }}
</div>
{% endblock %}
