{% extends 'answer.html' %}


{% block explanation %}
<p>
  There are two main ways to defend against an SSRF attack: an allowlist, which is preferred, or a blocklist. However,
  sometimes an allowlist is not feasible because there are an arbitrary number of valid inputs to the application. A
  webhook is one such example where an allowlist is not possible because any public IP address or URL is valid.
</p>
<p>This solution can make use of an allowlist because there are a finite and definable number of allowed inputs.
  As you can see from the diff, the logic is a lot simpler than implementing a blocklist.</p>
{% endblock %}