{% import 'link.j2' as lm -%}


<p>SSRF is arguably the most popular vulnerability being exploited today. It is not easy to defend against, and it can
    cause a lot of damage. Here are three recent examples of it being exploited:</p>
<ul class="list-disc pl-8">
    <li>2019: Capital One {{
        lm.link_new_tab("https://krebsonsecurity.com/2019/08/what-we-can-learn-from-the-capital-one-hack/", "suffered a
        breach of over 100 million customers because of SSRF") }}</li>
    <li>2020: Atlassian fell victim to the same {{ lm.link_new_tab("https://jira.atlassian.com/browse/BSERV-12433",
        "webhook attack described above") }}</li>
    <li>2021: Microsoft Exchange servers {{
        lm.link_new_tab("https://www.extrahop.com/company/blog/2021/exchange-server-security/", "were compromised to
        devastating effect") }}</li>
</ul>