{% import 'link.j2' as lm -%}
{% extends 'challenge.html' %}

{% block title %}
<p>A common mistake developers make is to always assume that internal APIs, that is something that is not accessible from the Internet at large, can never be accessed from the outside.</p>
{% endblock %}

{% block introduction %}
{% include 'ssrf/ssrf_introduction.html' %}
{% endblock %}

{% block news %}
{% include 'ssrf/ssrf_news.html' %}
{% endblock %}

{% block challenge %}
<p class="my-8">This web server has a functionality built for webhooks. However, you can abuse this functionality to access an internal admin API. The only thing you know is that the internal API can be accessed through <span class="bg-gray-200 p-1 font-mono">http://internal_api</span>
</p>

<div class="w-full max-w-xs">
    <form method="POST" action="{{ url_for('vulnerabilities_ssrf1.submit_webhook') }}"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="custom_url">
                Enter the URL to use for the webhook:
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="custom_url" id="custom_url" type="text">
        </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Fetch
                </button>
            </div>
    </form>
</div>
<div class="divide-y divide-gray-500">
    {{ cm.passphrase_form(url_for('routes.ssrf1')) }}
</div>
{% endblock %}