{% import 'link.j2' as lm -%}

<p>
    SSRF (server-side request forgery) is when an attacker can trick the server into performing HTTP requests on the
    attacker's behalf. Examples of HTTP requests that can be potentially dangerous for a web application are requests to
    a private IP address (i.e., one that is not accessible from the public Internet such as
    <span class="bg-gray-200 p-1 font-mono">127.0.0.1</span>), requests to an internal admin API, or requests that use
    the <span class="bg-gray-200 p-1 font-mono">file://</span> schema to access internal files on the network.
</p>
<p>
    How might an attacker pull this off? They simply need a server endpoint that accepts a URL or an IP address as
    input. A {{ lm.link_new_tab("https://en.wikipedia.org/wiki/Webhook", "webhook") }} is a common feature these days
    that offers such a vector to attackers. The intended functionality of a webhook is to provide a way for client
    applications to receive notifications about events in real-time. But instead of supplying a valid public IP address,
    what if an attacker supplies a private IP address?
</p>
<p>
    For example, suppose your web application runs on one of the major cloud providers such as AWS or Azure and has a
    webhook endpoint. If an attacker provides the IP address
    <span class="bg-gray-200 p-1 font-mono">169.254.169.254</span> as input to the endpoint, then they might be able to
    access sensitive data from the {{
    lm.link_new_tab("https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html", "metadata")
    }} {{
    lm.link_new_tab("https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows",
    "service") }} running on the cloud instance. Note that an attacker won't always receive a response after inputting
    in a private IP address or URL. However, this does not mean that the attack was not successful. It could be an
    instance of {{ lm.link_new_tab("https://portswigger.net/web-security/ssrf/blind", "blind SSRF") }} which is harder to
    exploit, but just as impactful if successful.
</p>
<p>
    In plain English: there are internal URLs and IP addresses that only a web server can access because it is inside "the network." Think of this concept of "the network" as something similar to your home wifi. A random person on the Internet cannot access the IP address of your computer on your home wifi under normal conditions. A web server is simultaneously on its internal network and public facing on the Internet. This is what allows it to do all the stuff is supposed to do, while still being accessible to anyone with an Internet connection. An attacker can only talk to the web server, they cannot access the internal URLs and IP addresses that the web server is able to. So the attacker "tricks" the web server into fetching those privileged items on their behalf without ever directly accessing them.
</p>
