{% extends 'layout.html' %}
{% block content %}
<div class="pt-32 text-center font-bold text-xl">
  <p>
    Learn how to avoid writing
    <span class="bg-red-200 text-red-700 p-1 font-mono">vulnerable code</span>
  </p>
  <p>
    Learn how to write
    <span class="bg-green-200 text-green-700 p-1 font-mono">exploit code</span>
  </p>
  <p>
    Learn how to write
    <span class="bg-blue-200 text-blue-700 p-1 font-mono">secure code</span>
  </p>
</div>
<div
  class="mx-auto px-12 sm:px-40 py-20 grid grid-cols-1 gap-20 justify-items-center md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
  {% include 'sqli/sqli1_card.html' %}
  {% include 'sqli/sqli2_card.html' %}
  {% include 'ssrf/ssrf1_card.html' %}
  {% include 'ssrf/ssrf2_card.html' %}
</div>
{% endblock %}
