<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
</head>

<body>
    <form method="POST" action="/reset_admin_password/">
        <button type="submit">
            Reset admin password
        </button>
    </form>
    <form method="GET" action="/get_cat_coin_price_v1/">
        <button type="submit">
            Get current price of Catcoin (v1)
        </button>
    </form>
    <form method="GET" action="/get_cat_coin_price_v2/">
        <button type="submit">
            Get current price of Catcoin (v2)
        </button>
    </form>
</body>

</html>